---
import { type CollectionEntry, getCollection } from "astro:content";
import BlogPost from "../../layouts/default.astro";

export async function getStaticPaths() {

	const posts = await getCollection('en');
	return posts.map((post) => ({
		params: { slug: post.slug },
		props: post,
	}));
}

type Props = CollectionEntry<'en'>;
const post = Astro.props;
const { Content } = await post.render();

---

<BlogPost {...post.data}>
	<div class="bg-gradient-to-r from-cyan-300 to-indigo-800 p-1 flex relative rounded-md">
		<article class="container bg-sky-100 dark:bg-slate-900 p-4 rounded-xl">
			<Content />
		</article>
	</div>
</BlogPost>
