---
import { getCollection } from "astro:content";
import PostList from "../global/PostList.astro";
import type { ContentCollectionKey } from "astro:content";

interface Props {
  translation: any;
  language: ContentCollectionKey
}
const { translation, language } = Astro.props;

const Posts = await getCollection(language);
---

<h1 class="text-4xl font-bold">{translation.h1_title}</h1>
<h2 class="text-3xl">{translation.h2_subtitle}</h2>
<div class="container mx-auto">
  <PostList Collection={Posts} />
</div>
