---
import Layout from "../layouts/default.astro"
---

<Layout
	title="Social Media"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('August 08 2021')}
	heroImage="/blog-placeholder-about.jpg"
>
	<section>
		
	</section>
</Layout>
