---
import Layout from "../layouts/default.astro"
---

<Layout
	title="Social Media"
	description="Lorem ipsum dolor sit amet"
	publication_date={new Date('August 08 2021')}
>
	<section>
		
	</section>
</Layout>
