---
import HeaderLink from "../HeaderLink.astro";
import { Image } from 'astro:assets';
import myImage from '../../assets/Logo.svg';
import DarkModeToggler from "../dedicated/DarkModeToggler";
//import { SITE_TITLE } from '../consts';


---

<header>
	<nav class="flex justify-between">
		<h2>
			<a href="/">
				<Image src={myImage} alt="A description of my image." class="w-16"/>
			</a>
		</h2>
		<div class="internal-links">
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/blog">Blog</HeaderLink>
			<HeaderLink href="/about">About</HeaderLink>
		</div>
		<div class="flex">
			<DarkModeToggler>
		</div>
	</nav>
</header>
<style></style>
