---
import HeaderLink from "../HeaderLink.astro";
import { Image } from 'astro:assets';
import Logo from '../../assets/Logo.svg';
import ButtonDarkMode from "../react/ButtonDarkMode";
---

<header>
	<nav class="bg-sky-300 dark:bg-indigo-950 flex justify-between items-center p-4 rounded-lg">
		<h2>
			<a href="/">
				<Image src={Logo} alt="A description of my image." class="w-12 rounded-lg"/>
			</a>
		</h2>
		<div>
			<input type="search" class="border border-indigo-950 dark:border-sky-200 px-4 py-2 rounded-full text-black bg-transparent">
		</div>
		<div class="flex gap-4 items-center">
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/contact">Contact</HeaderLink>
			<ButtonDarkMode client:load >
		</div>
	</nav>
</header>