---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/structure/BaseHead.astro";
import Header from "../components/structure/Header.astro";
import Footer from "../components/structure/Footer.astro";

/**
 * Load parameters for SEO Stuff
 */
type Props = CollectionEntry<"blog">["data"]

const { title, description } = Astro.props;

---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body class="bg-sky-100 dark:bg-slate-900 dark:text-white m-0 px-4 md:p-0 max-w-screen">
    <div class="box-content flex flex-col justify-between min-h-screen mx-auto w-full">
      <Header class="h-10" />
      <main
        class="flex flex-col justify-start mb-auto mx-auto px-4 h-full"
      >
        <slot />
      </main>
      <Footer class="" />
    </div>
  </body>
</html>
