---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/structure/BaseHead.astro";
import Header from "../components/structure/Header.astro";
import Footer from "../components/structure/Footer.astro";

type Props = CollectionEntry<"blog">["data"]



const { title, description } = Astro.props;

---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body class="bg-sky-100 dark:bg-slate-900 dark:text-white m-0 w-full">
    <div class="box-content flex flex-col justify-between items-center min-h-dvh mx-auto w-full">
      <Header class="h-10" />
      <main
        class="flex flex-col p-4 w-full"
      >
        <slot />
      </main>
      <Footer class="" />
    </div>
  </body>
</html>
