---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/structure/BaseHead.astro';
import Header from '../components/structure/Header.astro';
import Footer from '../components/structure/Footer.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, description } = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
	</head>

	<body class="bg-teal-200 dark:bg-teal-900 p-4">
		<Header />
		<main>
			<slot />
		</main>
		<Footer />
	</body>
</html>
